<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensor.mobile"
    android:versionCode="7"
    android:versionName="1.6" >

    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="Inicio"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MainActivity" >
            <intent-filter>
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.sensor.mobile.Mapa" >
            <intent-filter>
                <action android:name=".com.sensor.mobile.Mapa" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="RepresentarGps" >
            <intent-filter>
                <action android:name=".RepresentarGps" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="AcercaDe"
            android:label="Acerca de" >
        </activity>
        <activity
            android:name="Ayuda"
            android:label="Ayuda" >
        </activity>
        <activity
            android:name="Setting"
            android:label="Preferencias" >
            <action android:name=".Setting" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name="Listasensores" >
            <action android:name=".Listasensores" />
        </activity>
        <activity
            android:name="Simulacion"
            android:label="Medición de datos" >
            <action android:name=".Simulacion" />
        </activity>
        <activity
            android:name="Preferencias"
            android:label="Preferencias" >
            <action android:name=".Preferencias" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="PreferenciasGrafica"
            android:label="Preferencias gráfica" >
            <action android:name=".PreferenciasGrafica" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="PrefGrafica"
            android:label="Preferencias" >
            <action android:name=".PrefGrafica" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="DefinicionAcelerometro"
            android:label="Definición del acelerómetro" >
            <action android:name=".DefinicionAcelerometro" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="DefinicionGps"
            android:label="Definición del GPS" >
            <action android:name=".DefinicionGps" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="DefinicionGiroscopio"
            android:label="Definición del giroscopio" >
            <action android:name=".DefinicionGiroscopio" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="DefinicionMagnetico"
            android:label="Definición del magnetómetro" >
            <action android:name=".DefinicionMagnetico" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="DefinicionProximidad"
            android:label="Definición sensor de proximidad" >
            <action android:name=".DefinicionProximidad" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="DefinicionLuz"
            android:label="Definición sensor de luz" >
            <action android:name=".DefinicionLuz" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="Grafica"
            android:icon="@drawable/estadistica"
            android:label=" " >
            <action android:name=".Grafica" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="CargarGraficas"
            android:label="Cargar gráficas" >
            <action android:name=".CargarGraficas" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="FileChooserActivity"
            android:label="Cargar gráficas" >
            <action android:name=".FileChooserActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity android:name="LeerCsv" >
            <action android:name=".LeerCsv" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCIxHQerKjOfbbBEThbU6kRXyJqRqDKdC0" />
        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB4Xu-M1TGfWwuR3ugNQum7gj33lfM8Uvk" />
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>